aiohttp
aiosignal
anyio
arabic-reshaper
asgiref
asn1crypto
assemblyai
async-timeout
attrs
cachetools
certifi
cffi
charset-normalizer
click
cryptography
cssselect2
defusedxml
Django
django-allauth
django-extensions
django-googledrive-storage
django-storages
fastapi
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
h11
html5lib
httpcore
httplib2
httpx
idna
iniconfig
lxml
multidict
openai
psycopg2
psycopg2-binary
pytube
requests
sqlparse
webencodings
websockets
dotenv
groq
nltk
scikit-learn
gunicorn